#signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  gap: 5px;
  background: #ffffff;
  /* light/blue-4
  
  Hovered UI element background
  */
  border: 1px solid #dbe3ff;
  border-radius: 10px;

  /* Inside auto layout */
}

.icon-holder {
  border-right: 1px solid;
  color: #9cadf2;
  font-size: 20px;
  padding: 0px 10px;
}

input[type="text"],
input[type="password"] {
  padding: 15px 5px;
  border: none;
  outline: none;
  width: 100%;
}

.signup-form #primary-button {
  margin-top: 15px;
}

.error-border {
  border: 1px solid red;
}
.error{
  color: red;
  font-size: 15px;
  padding: 3px;
}